*{
	margin: 0;
	padding: 0;
}

.city{
	width: 700%;
	height: 100vh;
	background-image: url('https://wallpaperaccess.com/full/869.jpg');
	background-size: contain;
	background-position: center;
	animation: animate 30s linear infinite;
}

@keyframes animate{
	100%{
		transform: translateX(-3400px);
	}
}

.aeroplane{
	display: block;
	width: 10px;
	height: 100px;
}

.aeroplane img{
	width: 30%;
	height: 20%;
	margin-top: -650px;
	position: absolute;
	z-index: 1;
}


